.simple_modal_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#close_modal_button {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}
.simple_modal_content {
    background-color: white;
    position: relative;
    color: #000000;
    padding: 1em;
}

.modal_small {
    width: 80%;
    max-width: 400px;
}

.modal_medium {
    width: 80%;
    max-width: 720px;
}

.modal_large {
    width: 90%;
    max-width: 820px;
}

.modal_full {
    width: 100%;
}
/* simple_modal.css */

#modal_info_content {
    border: 3px solid #0ae11c;
}

#modal_warning_content {
    /* Styles for warning modal */
    border: 3px solid #eaa208;

}

#modal_error_content {
    /* Styles for warning modal */
    border: 3px solid #f61a02;

}

#password_reset_container {
    /* Styles for warning modal */
    background: #ffffff;

}


/* ... and so on for other modal types */